@font-face {
  font-family: "StarWars";
  src: url("../fonts/stjedise/STJEDISE.TTF");
}

body {
  height: 100%;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
  line-height: 2;
  text-align: center;
}

.ui.container {
  margin: 100px;
}

.ui.container .ui.segment {
  background-color: rgb(238, 238, 238, 0.1);
}

.my-label {
  font-size: 3.2vw;
  color: #eee;
}

.ui.large.form {
  font-size: 2vw;
  font-weight: bold;
}
.ui.large.button,
.ui.large.buttons .button,
.ui.large.buttons .or {
  font-size: 2.5vw;
  font-weight: bold;
}

h1 {
  font-size: 8vw;
  font-family: StarWars;
  color: #eeeeee;
  margin: 100px;
}

.ui.button {
  margin: 15px auto;
}

.ui.form input:not([type]),
.ui.form input[type="text"] {
  background-color: rgb(238, 238, 238, 0.4) !important;
}
