.header {
  font-family: "Roboto", sans-serif !important;
}

.ui.items > .item > .image + .content {
  margin: 0 50px;
}

.ui.items > .item > .content > .header:not(.ui) {
  margin: 50px 0px;
  font-size: 4vw;
}

@media only screen and (max-width: 700px) {
  .ui.items > .item > .content > .header:not(.ui) {
    margin: 50px 0px;
    font-size: 8vw;
  }
}

.ui.items > .item > .content > .header {
  color: #eeeeee;
}

.ui.items > .item > .content > .description {
  color: black;
  font-size: 2.6vw;
  font-weight: 550;
  justify-content: center;
  text-align: left;
  padding: 15px;
}

@media only screen and (max-width: 700px) {
  .ui.items > .item > .content > .description {
    font-size: 5vw;
    text-align: center;
  }
}

.description {
  background-color: rgb(238, 238, 238, 0.7);
  border-radius: 6px;
  min-width: 100%;
}

.ui.items > .item {
  background-color: rgb(238, 238, 238, 0.2);
  width: 100%;
  min-width: 100%;
  padding: 10px;
}

.ui.relaxed.divided.items > .item {
  margin: 20px 0px;
  vertical-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui.divided.items > .item:last-child {
  margin-bottom: 100px !important;
}

.ui.medium.image,
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg {
  height: 100%;
}
